<div class="counter-app">
  <div class="counter-display">
    <label>{{localize "COUNTER.Count"}}</label>
    <span class="counter-value">{{count}}</span>
  </div>
  <div class="counter-actions">
    <button type="button" data-action="increment">
      <i class="fas fa-plus"></i> {{localize "COUNTER.Increment"}}
    </button>
    <button type="button" data-action="reset">
      <i class="fas fa-undo"></i> {{localize "COUNTER.Reset"}}
    </button>
  </div>
</div>
